* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: aliceblue;
  position: relative;
  position: sticky;
  top: 0;
}
